@import url(base.css);
body{
	background: #f1f4f9;
	height: 247.5rem;
}
header{
	width: 100%;
	height: 1.36rem;
	background: #FFFFFF;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-between;
	padding: 0 0.39rem;
	position: fixed;
	z-index: 999;
}
header .jiantou{
	display: block;
	width: 0.42rem;
	height: 100%;
	background: #FFFFFF;
	font-size: 0.7rem;
	color: #7e7e7e;
	line-height: 1.36rem;
	text-align: center;
}
header .title{
	width: 8.71rem;
	height: 100%;
	background: #FFFFFF;
	color: #424242;
	font-size: 0.5rem;
	text-align: center;
	line-height: 1.36rem;
}
header .share{
	display: block;
	width: 0.9rem;
	height: 100%;
	background: #FFFFFF;
}
header .share img{
	display: block;
	width: 100%;
	height: 100%;
}
.head{
	width:100%;
	height: 1.36rem;
}
/*banner图开始*/
.banner{
	width: 100%;
	height: 12.54rem;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	padding-left: 0.3rem;
}
.banner1{
	width: 8.34rem;
	height: 100%;
	background:  #FFFFFF;
}
.banner1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.banner2{
	width: 1.86rem;
	height: 100%;
	background:  #FFFFFF;
}
.banner2 img{
	display: block;
	width: 100%;
	height: 100%;
}
/*banner图结束*/
/*介绍开始*/
.introduce{
	width: 10.23rem;
	height: 3.9rem;
	background:  #FFFFFF;
	margin: 0 auto;
	border-bottom: 3px solid #ececec;
}
.introduce-top{
	width: 100%;
	height: 2.02rem;
	background: #FFFFFF;
	padding-top: 0.5rem;
	font-size: 0.44rem;
}
.introduce-middle{
	width: 100%;
	height: 0.6rem;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
}
.introduce-middle-left{
	width: 3.6rem;
	height: 100%;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
}
.zuo{
	width: 1.95rem;
	height: 0.6rem;
	background: #FFFFFF;
	color: #f86494;
	font-size: 0.5rem;
	line-height: 0.6rem;
	text-align: center;
}
.right{
	width: 1.69rem;
	height: 0.6rem;
	background: #FFFFFF;
	color: #909090;
	font-size: 0.3rem;
	line-height: 0.6rem;
	text-align: center;
	text-decoration: line-through;
}
.introduce-middle-right{
	width: 3.18rem;
	height: 100%;
	background: #FFFFFF;
	color: #676767;
	font-size: 0.3rem;
	line-height: 0.6rem;
	text-align: center;
}

.introduce-bottom{
	width: 100%;
	height: 1.28rem;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	font-size: 0.36rem;
	color: #9d9d9d;
	line-height: 1.28rem;
	text-align: center;
}
.introduce-bottom1{
	width: 1.95rem;
	height: 1.25rem;
	background: #FFFFFF;
}
.introduce-bottom2{
	width: 1.87rem;
	height: 1.25rem;
	background: #FFFFFF;
}
.introduce-bottom3{
	width: 1.59rem;
	height: 1.25rem;
	background: #FFFFFF;
}
.baoyou{
	width: 100%;
	height: 1.8rem;
	background: #FFFFFF;
	border-top: 1px solid #9d9d9d;
}
.baoyou a{
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	color: #656565;
	font-size: 0.36rem;
	padding: 0 0.3rem;
}
.baoyou1{
	width: 2.35rem;
	height: 100%;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dui{
	width: 0.46rem;
	height: 0.45rem;
	background:  #FFFFFF;
}
.dui img{
	display: block;
	width: 100%;
	height: 100%;
}
.duiyou{
	width: 1.89rem;
	height: 0.35rem;
	background: #FFFFFF;
}
.baoyou2{
	width: 5.15rem;
	height: 100%;
	background: #FFFFFF;
	display: flex;
	align-items: center;
}
.baoyou3{
	width: 0.38rem;
	height: 100%;
	background: #FFFFFF;
	line-height: 1.8rem;
	text-align: center;
}
/*介绍结束*/
/*进店逛逛开始*/
.guang{
	width: 100%;
	height: 5.88rem;
	background: #FFFFFF;
	margin-top: 0.15rem;
}
.guang1{
	width: 100%;
	height: 2.15rem;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.3rem;
}
.guang1-left{
	width: 3.51rem;
	height: 2.15rem;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	padding-top: 0.51rem;
}
.guang1-left .logo{
	display: block;
	width: 1.38rem;
	height: 1.38rem;
}
.guang1-left .logo img{
	display: block;
	width: 1.38rem;
	height: 1.38rem;
}
.name{
	width: 2.13rem;
	height: 1.21rem;
    font-size: 0.46rem;
    text-align: center;
    line-height: 1.21rem;
}
.guang1-right{
	width: 1.86rem;
	height: 0.72rem;
	background: #fe6697;
	border-radius: 20px;
	font-size: 0.4rem;
    text-align: center;
    line-height:0.72rem;
    color: #FFFFFF;
}
.guang2{
	width: 100%;
	height: 1.94rem;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	padding: 0 0.3rem;
	align-items: center;
}
.guang2-left{
	width: 5.09rem;
	height: 1.29rem;
	background: #FFFFFF;
	border-right: 3px solid #ededed;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0  0.3rem;
	font-size: 0.4rem;
	color: #2f2f2f;
	line-height: 0.55rem;
	text-align: center;
}
.xiaoliang{
	width: 2.11rem;
	height: 0.55rem;
	background: #FFFFFF;
}
.guang2-right{
	width: 4.24rem;
	height: 1.94rem;
	background: #FFFFFF;
}
.right1{
	width: 4.24rem;
	height: 0.64rem;
	background: #FFFFFF;
	display: flex;
	align-items: center;
	text-align: center;
}
.right11{
	width: 1.63rem;
	height: 0.6rem;
	background: #FFFFFF;
	font-size: 0.38rem;
	color: #6c6c6c;
	line-height: 0.6rem;
}
.right12{
	width: 0.75rem;
	height: 0.6rem;
	background: #FFFFFF;
	font-size: 0.34rem;
	color: #ff3d31;
	line-height: 0.6rem;
}
.right13{
	width: 0.37rem;
	height: 0.37rem;
	background: #d04445;
	font-size: 0.34rem;
	color: #FFFFFF;
	line-height: 0.37rem;
}
.guang3{
	width: 100%;
	height: 1.79rem;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	padding-top: 0.32rem;
}
.guang3 a{
	display: block;
	width: 4.32rem;
	height: 0.87rem;
	background: #f1f5f8;
	border-radius: 20px;
	font-size: 0.5rem;
	color: #7a7e7f;
	line-height: 0.87rem;
	text-align: center;
}
/*进店逛逛结束*/
/*为你推荐开始*/
.give{
	width: 100%;
	height: 10.98rem;
	background: #FFFFFF;
	margin-top: 0.15rem;
}
.give1{
	width: 100%;
	height: 1.33rem;
	background: #FFFFFF;
	padding-left: 0.3rem;
	font-size: 0.42rem;
	color: #464646;
	line-height: 1.33rem;
}
.give2{
	width: 100%;
	height: 8.65rem;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 0.3rem;
}
.give2 li{
	width: 2.43rem;
	height: 4.32rem;
	background: pink;
}
.give2 li a{
	display: block;
	width: 100%;
	height: 100%;
} 
.give2 li a .tu{
	width: 100%;
	height: 3.66rem;
	background: blue;
} 
.give2 li a .tu img{
	display: block;
	width: 100%;
	height: 100%;
}
.give2 li a .zi{
	width: 2.43rem;
	height: 0.66rem;
	background: #FFFFFF;
	font-size: 0.32rem;
	color: #6d6d6d;
	text-align: center;
	line-height: 0.66rem;
} 
.tvn{
	width: 1.96rem;
	height: 0.6rem;
	background: #FFFFFF;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tvn li{
	width: 0.16rem;
	height: 0.16rem;
	background: #e0e0e0;
	border-radius: 50%;
}
.tvn li:first-child{
	background: #ff7437;
}
/*为你推荐结束*/
/*详情开始*/
.cc{
	width: 100%;
	height: 1.63rem;
	background: #FFFFFF;
	margin-top: 0.15rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cc li{
	width: 2.7rem;
	height: 0.42rem;
	background: #FFFFFF;
	border-right: 3px solid #e1e1e1;
	position: relative;
}
.cc li:last-child{
	border-right: 0;
}
.cc li a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 0.42rem;
	font-size: 0.4rem;
	color: #2c2c2c;
	text-align: center;
}
.xianxian{
	width: 0.72rem;
	height: 0.06rem;
	background: #282828;
	position: absolute;
	bottom: -0.6rem;
	left: 1rem;
}
.style{
	width: 100%;
	height: 4.67rem;
	background: white;
	padding: 1.05rem 0.45rem;
	font-size: 0.38rem;
	color: #6e6e6e;
}
.xiaoguo{
	width: 100%;
	height: 0.7rem;
	background: white;
	padding-left: 0.45rem;
	font-size: 0.4rem;
	color: #272727;
	line-height: 0.7rem;
}
.tan{
	width: 100%;
	height: 0.82rem;
	background: white;
	padding-left: 0.45rem;
	font-size: 0.34rem;
	color: #6d6d6d;
	line-height: 0.82rem;
}	
.kuaidi{
	width: 100%;
	height: 2.1rem;
	background: #FFFFFF;
}
.kuaidi img{
	display: block;
	width: 100%;
	height: 2.1rem;
}
.chima{
	width: 100%;
	height: 4rem;	
}
.chima img{
	display: block;
	width: 100%;
	height: 100%;	
}
.cold1{
	width: 100%;
	height: 14.70rem;
}
.cold1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold2{
	width: 100%;
	height: 14.70rem;
}
.cold2 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold3{
	width: 100%;
	height: 10.80rem;
	border-bottom: 1px solid white;
}
.cold3 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold4{
	width: 100%;
	height: 7.16rem;
	background:  #FFFFFF;
}
.cold4 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold5{
	width: 100%;
	height: 15.53rem;
	background:  #FFFFFF;
}
.cold5 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold6{
	width: 100%;
	height: 16.6rem;
	background:  #FFFFFF;
}
.cold6 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold7{
	width: 100%;
	height: 4.76rem;
	background: #FFFFFF;
	margin-bottom: 0.15rem;
}
.cold7 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold8{
	width: 100%;
	height: 13.82rem;
	background:  #FFFFFF;
	margin-bottom: 0.15rem;
}
.cold8 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold9{
	width: 100%;
	height: 6.4rem;
	background: #FFFFFF;
}
.cold9 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold10{
	width: 100%;
	height: 8.5rem;
	background:  #FFFFFF;
}
.cold10 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold11{
	width: 100%;
	height: 16.33rem;
	background:  #FFFFFF;
}
.cold11 img{
	display: block;
	width: 100%;
	height: 100%;
}
.cold12{
	width: 100%;
	height: 5.11rem;
	background: #FFFFFF;
}
.cold12 img{
	display: block;
	width: 100%;
	height: 100%;
}
/*详情结束*/
/*评价开始*/
.discuss{
	width: 100%;
	height: 1.44rem;
	background: #FFFFFF;
	margin-top: 0.15rem;
}
.neibu{
	width: 9.96rem;
	height: 1.44rem;
	background: #FFFFFF;
	border-bottom: 3px solid #efefef;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.pingjia{
	width: 1.73rem;
	height: 100%;
	background: #FFFFFF;
	font-size: 0.4rem;
	color: #2d2d2d;
	text-align: center;
	line-height: 1.44rem;
}
.more{
	display: block;
	width: 1.31rem;
	height: 100%;
	background: #FFFFFF;
	font-size: 0.34rem;
	color: #5c5c5c;
	text-align: center;
	line-height: 1.44rem;
}
.juti{
	width: 100%;
	height: 6.12rem;
	background: #FFFFFF;
}
.jiti1{
	width: 100%;
	height: 1.67rem;
	background: #FFFFFF;
	display: flex;
	align-items: center;
	padding-left: 0.36rem;
}
.jiti1-left{
	width:1.31rem;
	height: 1.67rem;
	background: pink;
	background: url(../img/pingjia1_03.png) no-repeat center;
	background-size: 1.31rem 1.67rem;
}
.jiti1-right{
	width:1.53rem;
	height: 0.76rem;
	background: #FFFFFF;
	font-size: 0.42rem;
	color: #393939;
	line-height: 0.76rem;
	text-align: center;
}
.jiti2{
	width: 100%;
	height: 1.05rem;
	background: #FFFFFF;
	font-size: 0.4rem;
	color: #777777;
	padding: 0 0.45rem;
}
.jiti3{
	width: 100%;
	height: 0.7rem;
	background: #FFFFFF;
	font-size: 0.42rem;
	color: #999999;
	line-height: 0.7rem;
	padding: 0 0.45rem;
}
.jiti4{
	width: 100%;
	height: 2.7rem;
	background: #FFFFFF;
	padding: 0.18rem 0.42rem;
	display: flex;
}
.jiti4 .img{
	display: block;
	width: 2.01rem;
	height: 2.01rem;
	background: red;
	margin-right: 0.1rem;
}
.jiti4 .img img{
	display: block;
	width: 100%;
	height: 100%;
}
.fahuo{
	width: 100%;
	height: 1.44rem;
	background: #FFFFFF;
	margin-top: 0.15rem;
	display: flex;
	justify-content: space-between;
	padding: 0 0.3rem;
}
.fahuoli{
	width: 4rem;
	height: 100%;
	background: #FFFFFF;
	font-size: 0.4rem;
	color: #2d2d2d;
	text-align: left;
	line-height: 1.44rem;
}
.moremore{
	display: block;
	width: 1rem;
	height: 100%;
	background: #FFFFFF;
	font-size: 0.34rem;
	color: #5c5c5c;
	text-align: right;
	line-height: 1.44rem;
}
/*评价结束*/
/*热门推荐开始*/
.hot{
	width: 100%;
	height: 8.25rem;
	background: #FFFFFF;
	display: flex;
	justify-content: space-around;
}
.hot li{
	width: 5.18rem;
	height: 8.25rem;
	background: #FFFFFF;	
}
.hot li a{
	display: block;
	width: 5.18rem;
	height: 8.25rem;
}
.hot li a .tupian{
	width: 5.18rem;
	height: 6.72rem;
	background: #FFFFFF;
}
.hot li a .tupian img{
	display: block;
	width: 5.18rem;
	height: 6.72rem;
}
.hot li a .wenzi{
	width: 5.18rem;
	height: 0.73rem;
	background:#FFFFFF;
	font-size: 0.4rem;
	color: #515151;
	text-align: center;
	line-height: 0.73rem;
}
.hot li a .price{
	width: 5.18rem;
	height: 0.8rem;
	background:#FFFFFF;
	font-size: 0.4rem;
	color: #d78ea2;
	text-align: center;
	line-height: 0.8rem;
}
/*热门推荐结束*/
/*底部开始*/
.bottom{
	width: 100%;
	height: 1.67rem;
	background: #FFFFFF;
	border-top: 3px solid #d9d9db;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
}
.meili{
	width: 5.37rem;
	height: 100%;
	background: #FFFFFF;
	display: flex;
	justify-content: space-around;
}
.meili li{
	width: 0.77rem;
	height: 100%;
	background: #FFFFFF;
}
.meili li a{
	display: block;
	width: 0.77rem;
	height: 100%;
}
.meili li a .kefu{
	width: 100%;
	height: 0.93rem;
	background: yellow;
}
.meili li a .kefu img{
	display: block;
	width: 100%;
	height: 0.93rem;
}
.meili li a .kefuzi{
	width: 100%;
	height: 0.65rem;
	background: #FFFFFF;
	font-size: 0.34rem;
	color: #9e9e9e;
	line-height: 0.65rem;
	text-align: center;
}
.buy{
	display: block;
	width: 2.71rem;
	height: 100%;
	background: #fdde12;
	font-size: 0.4rem;
	color: #000000;
	padding: 0.22rem 0.53rem;
}
.tuan{
	display: block;
	width: 2.72rem;
	height: 100%;
	background: #fd6795;
	font-size: 0.4rem;
	color: #FFFFFF;
	padding: 0.22rem 0.53rem;
}
/*底部结束*/